<!DOCTYPE html>
<html>
  
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://daneden.me/animate/animate.css" />
    <meta name="description" content="isotope test" />
    <link rel="stylesheet" href="https://svn.dodici.com.ar/bundles/dodicifansworldweb/css/base.cssx"
    />
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
    <link href="/src/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <script src="https://isotope.metafizzy.co/jquery.isotope.min.js"></script>
    <script src="/src/js/blog.js"></script>
    <meta charset=utf-8 />
    <title>JS Bin</title>
  </head>
  
  <body>
    <!-- POST TOP -->
    <div class="post">
      <div class="sidebar">
        <div class="avatar">
          <img class="author" src="https://tinyurl.com/ajapym4">
        </div>
        <div id="socialize"> 
          <a id="left" class="social" href="#"><i class="icon-eye-open"></i></a>
          <a id="right" class="social" href="#"><i class="icon-heart"></i></a>
          <a id="centre" class="social" href="#"><i class="icon-time"></i></a>
        </div>   
      </div>
      <div class="mybox-middle" >
        <div class="widget">
          <span class="username">Unity:</span>
          <br/>
          <span class="timestamp" style="clear:both;"><i class="icon-time"></i>&nbsp;3 days ago</span>
          <br />
          <span class="timestamp" style="clear:both;"><i class="icon-heart"></i>&nbsp;11 followers</span>
          <br />
          <span class="timestamp" style="clear:both;"><i class="icon-eye-open"></i>&nbsp;220 subscribers</span>
        </div>
        <div class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dolor tortor, sollicitudin non ultricies vitae, pulvinar nec ipsum. Pellentesque tincidunt mollis sollicitudin.</div>
      </div>
    </div>
    <!-- /POST -->
    <!-- POST -->
    <div class="post">
      <div class="sidebar">
        <div class="avatar">
          <img class="author" src="https://tinyurl.com/aevdnze">
        </div>
        
      </div>
      <div class="mybox-middle" >
        <div class="widget">
          <span class="username">Benjamin:</span>
          <br/>
          <span class="timestamp" style="clear:both;"><i class="icon-time"></i>&nbsp;2 day ago</span>
          <br />
          <span class="timestamp" style="clear:both;"><i class="icon-heart"></i>&nbsp;4 followers</span>
          <br />
          <span class="timestamp" style="clear:both;"><i class="icon-eye-open"></i>&nbsp;22 subscribers</span>
        </div>
        <body>
          <div class="message">Proin ornare imperdiet est non mattis. In hac habitasse platea dictumst. Maecenas faucibus, mi non tempor sollicitudin, magna enim rutrum nulla, tincidunt ornare urna urna ut erat.</div>
        </div>
      </div>
      <!-- /POST -->
      <!-- POST -->
      <div class="post" style="height:180px;">
        <div class="sidebar">
          <div class="avatar">
            <img class="author" src="https://tinyurl.com/aakz3cz">
          </div>
          <div id="socialize"> 
            <a id="left" class="social" href="#"><i class="icon-eye-open"></i></a>
            <a id="right" class="social" href="#"><i class="icon-heart"></i></a>
            <a id="centre" class="social" href="#"><i class="icon-time"></i></a>
          </div>                 
        </div>
        <div class="mybox-middle" >
          <div class="widget">
            <span class="username">MrPark:</span>
            <br/>
            <span class="timestamp" style="clear:both;"><i class="icon-time"></i>&nbsp;1 day ago</span>
            <br />
            <span class="timestamp" style="clear:both;"><i class="icon-heart"></i>&nbsp;31 followers</span>
            <br />
            <span class="timestamp" style="clear:both;"><i class="icon-eye-open"></i>&nbsp;340 subscribers</span>
          </div>
          <div class="message">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dolor tortor, sollicitudin non ultricies vitae, pulvinar nec ipsum. Pellentesque tincidunt mollis sollicitudin. Integer bibendum orci non nisl bibendum sit amet porta odio facilisis. Nulla facilisi. In magna nunc, pharetra mattis malesuada vel, suscipit sed neque. Curabitur at dolor velit. Morbi consectetur sagittis mi. Mauris ac fermentum velit. Donec at orci purus, sed tristique lacus. Suspendisse potenti.<a href="#" class="more">more</a></div>
        </div>
      </div>
      <!-- /POST -->
      <!-- POST -->
      <div class="post animated">
        <div class="sidebar">
          <div class="avatar">
            <img class="author" src="https://tinyurl.com/aevdnze">
          </div>
          <div id="socialize"> 
            <a id="left" class="social" href="#"><i class="icon-eye-open"></i></a>
            <a id="right" class="social" href="#"><i class="icon-heart"></i></a>
            <a id="centre" class="social" href="#"><i class="icon-time"></i></a>
          </div>             
        </div>
        <div class="mybox-middle" >
          <div class="widget">
            <span class="username">Benjamin:</span>
            <br/>
            <span class="timestamp" style="clear:both;"><i class="icon-time"></i>&nbsp;2 Hours ago</span>
            <br />
            <span class="timestamp" style="clear:both;"><i class="icon-heart"></i>&nbsp;4 followers</span>
            <br />
            <span class="timestamp" style="clear:both;"><i class="icon-eye-open"></i>&nbsp;22 subscribers</span>
          </div>
          <div class="message">Proin ornare imperdiet est non mattis. In hac habitasse platea dictumst. Maecenas faucibus, mi non tempor sollicitudin, magna enim rutrum nulla, tincidunt ornare urna urna ut erat.</div>
        </div>
      </div>
      <!-- /POST -->
      <!-- ENTRY -->
      <div class="entry">
        <div class="sidebar">
          <div class="avatar">
            <img class="author" src="https://tinyurl.com/axm4om9">
          </div>
        </div>
        <div class="mybox">
          <div class="textarea-wrapper">
            <textarea></textarea>
            <div class="actions"><div style="float:right"><button class="send">Send</button></div></div>
          </div>
        </div>
      </div>
      <!-- /ENTRY -->
      <p>Welcome <%=user.name%></p>
      <a href="/users/logout">logout</a>
    </body>
  </html>